{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-md-8 create-form">
            <h3 class="text-center">创建缺陷</h3>
            <form action="{{ url_for('create') }}" method="post">
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" name="title" id="title" class="form-control" autofocus required>
                </div>
                <div class="form-group">
                    <label for="author">创建人</label>
                    <input type="text" name="author" id="author" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="author">标签</label>
                    <select class="form-control" name="tag_id">
                        {% for tag in tags %}
                            <option value="{{ tag.id }}">{{ tag.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="content">缺陷内容</label>
                    <textarea name="content" rows="18" id="context" class="form-control" required></textarea>
                </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary">
            </div>
            </form>
        </div>
    </div>
{% endblock %}
